---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <nav
      class="bg-sky-300 flex justify-center mx-auto fixed top-0 left-0 w-full z-50"
    >
      <div class="flex items-center space-x-4 p-3 text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-12"
        >
          <path
            d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z"
          ></path>
          <path
            d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z"
          ></path>
          <path
            d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z"
          ></path>
        </svg>

        <span class="font-bold text-white text-3xl">Topic</span>

        <div class="flex space-x-6 pl-16 flex-1 justify-center m-auto">
          <a href="#" class="hover:text-blue-900 font-semibold">HOME</a>
          <a href="#" class="hover:text-blue-900 font-semibold">BROSE TOPICS</a>
          <a href="#" class="hover:text-blue-900 font-semibold">HOW IT WORKS</a>
          <a href="#" class="hover:text-blue-900 font-semibold">FAQS</a>
          <a href="#" class="hover:text-blue-900 font-semibold">CONTACT</a>
          <a
            href="#"
            class="flex items-center space-x-2 hover:text-blue-900 font-semibold"
          >
            <span>PAGES</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
            </svg>
          </a>
        </div>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 ml-auto"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          ></path>
        </svg>
      </div>
    </nav>

    <div class="mx-auto bg-sky-300 mb-24 pt-24">
      <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-white text-5xl font-bold">Discover. Learn. Enjoy</h1>
        <h6 class="py-6 text-bl font-semibold text-slate-800">
          Platform for learning and sharing knowledge
        </h6>

        <div class="bg-white rounded-xl p-4 mt-2 mb-4 flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 text-slate-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            ></path>
          </svg>
          <input
            type="text"
            class="text-slate-500 mx-4 w-72"
            placeholder="Discover, Code, Marketing, Finance..."
          />
          <div
            class="bg-green-500 hover:bg-green-600 transition-colors rounded-md px-4 py-1 text-white text-sm font-medium"
          >
            Search
          </div>
        </div>

        <!-- Div padre tarjeta -->
        <div
          class="flex items-stretch justify-center h-full w-4/6 gap-4 rounded-md mt-6"
        >
          <!-- Tarjeta 1 -->
          <div
            class="bg-slate-200 rounded-md w-2/6 mb-6 flex-1 items-center justify-between h-full"
          >
            <div
              class="font-bold text-slate-700 text-xl mx-6 my-6 flex items-center justify-between"
            >
              Web Design
              <span
                class="bg-blue-600 rounded-md font-semibold text-sm text-white p-1"
              >
                14
              </span>
            </div>

            <p class="text-slate-600 font-semibold text-base mx-6 mt-2 w-96">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea,
              ipsam sunt? Molestiae, quo optio nobis vitae repellendus fuga nemo
              eos minima tempore.
            </p>
            <div>
              <img
                src="https://cdn.pixabay.com/photo/2024/05/07/00/42/work-8744593_640.png"
                alt=""
                class="size-36 mx-auto my-7 rounded-md"
              />
            </div>
          </div>
          <!-- Fin tarjeta  1 -->

          <!-- Tarjeta 2 -->
          <div
            class="relative rounded-md bg-sky-600 bg-cover bg-center w-3/6 mb-6 flex-1 h-full"
            style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwqqe3MFhYWJaoKiFoo1N4jsLbnuFw6JTgcTLk5FnWSEjLLAmvRK2AoVVpMP1U7aaBnPU&usqp=CAU');"
          >
            <!-- Capa de desenfoque -->
            <div class="absolute inset-0 bg-white/30 backdrop-blur-sm"></div>

            <!-- Contenido -->
            <div
              class="relative font-bold text-slate-100 text-xl m-6 rounded-md"
            >
              Finance
              <span
                class="bg-blue-600 rounded-md font-semibold text-sm text-white p-1 justify-end ml-64"
                >23</span
              >
              <p
                class="text-slate-200 font-semibold text-base mx-auto mt-4 w-96"
              >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea,
                ipsam sunt? Molestiae, quo optio nobis vitae repellendus fuga
                nemo eos minima tempore
              </p>
              <button
                class="bg-green-600 rounded-md px-4 py-1 text-white text-sm font-medium my-6 hover:bg-green-800 transition-colors"
              >
                Learn More
              </button>
              <div
                class="font-semibold text-white text-lg flex items-center space-x-2 mt-8 p-6"
              >
                Share:
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="h-6 w-6 ml-4"
                >
                  <path
                    d="M13 4.5a2.5 2.5 0 1 1 .702 1.737L6.97 9.604a2.518 2.518 0 0 1 0 .792l6.733 3.367a2.5 2.5 0 1 1-.671 1.341l-6.733-3.367a2.5 2.5 0 1 1 0-3.475l6.733-3.366A2.52 2.52 0 0 1 13 4.5Z"
                  ></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="size-6"
                >
                  <path
                    d="M2.879 7.121A3 3 0 0 0 7.5 6.66a2.997 2.997 0 0 0 2.5 1.34 2.997 2.997 0 0 0 2.5-1.34 3 3 0 1 0 4.622-3.78l-.293-.293A2 2 0 0 0 15.415 2H4.585a2 2 0 0 0-1.414.586l-.292.292a3 3 0 0 0 0 4.243ZM3 9.032a4.507 4.507 0 0 0 4.5-.29A4.48 4.48 0 0 0 10 9.5a4.48 4.48 0 0 0 2.5-.758 4.507 4.507 0 0 0 4.5.29V16.5h.25a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75v-3.5a.75.75 0 0 0-.75-.75h-2.5a.75.75 0 0 0-.75.75v3.5a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1 0-1.5H3V9.032Z"
                  ></path>
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="size-6"
                >
                  <path
                    d="m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z"
                  ></path>
                </svg>
                <!-- Este es el espacio antes del último ícono -->
                <div class="ml-auto w-full"></div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="size-6"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 2c-1.716 0-3.408.106-5.07.31C3.806 2.45 3 3.414 3 4.517V17.25a.75.75 0 0 0 1.075.676L10 15.082l5.925 2.844A.75.75 0 0 0 17 17.25V4.517c0-1.103-.806-2.068-1.93-2.207A41.403 41.403 0 0 0 10 2Z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
          </div>
          <!-- Fin tarjeta 2 -->
        </div>
      </div>

      <div class="bg-orange-500 flex justify-center items-center h-fit">
        <h1 class="font-bold text-3xl">Browse Topics</h1>
      </div>
      <div class="flex justify-center items-center h-fit mx-auto space-x-16">
        <a href="#">Design</a>
        <a href="#">Marketing</a>
        <a href="#">Finance</a>
        <a href="#">Music</a>
        <a href="#">Education</a>
      </div>
    </div>
  </body>
</html>
