---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <nav class="bg-sky-300">
      <div class="flex items-center space-x-4 p-3 text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-10 text-white mx-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
          ></path>
        </svg>

        <span class="font-bold text-white text-3xl">Topic</span>

        <div class="flex space-x-6 pl-16 flex-1 justify-center m-auto">
          <a href="#" class="hover:text-blue-900 font-semibold">HOME</a>
          <a href="#" class="hover:text-blue-900 font-semibold">BROSE TOPICS</a>
          <a href="#" class="hover:text-blue-900 font-semibold">HOW IT WORKS</a>
          <a href="#" class="hover:text-blue-900 font-semibold">FAQS</a>
          <a href="#" class="hover:text-blue-900 font-semibold">CONTACT</a>
          <a
            href="#"
            class="flex items-center space-x-2 hover:text-blue-900 font-semibold"
          >
            <span>PAGES</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
            </svg>
          </a>
        </div>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 ml-auto"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          ></path>
        </svg>
      </div>
    </nav>
    <div class="container mx-auto bg-sky-300 h-fit">
      <div class="flex flex-col items-center justify-center h-full pt-12">
        <h1 class="text-white text-5xl font-bold">Discover. Learn. Enjoy</h1>
        <h6 class="py-6 text-bl font-semibold text-slate-800">
          Platform for learning and sharing knowledge
        </h6>

        <div class="bg-white rounded-lg p-4 mt-2 mb-4 flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 text-slate-700"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            ></path>
          </svg>
          <input
            type="text"
            class="text-slate-500 mx-4 w-72"
            placeholder="Discover, Code, Marketing, Finance..."
          />
          <div
            class="bg-green-600 rounded-md px-4 py-1 text-white text-sm font-medium"
          >
            Search
          </div>
        </div>

        <div
          class="flex flex-col-2 items-center justify-center h-full gap-4 rounded-md"
        >
          <div class="bg-slate-200 rounded-md">
            <h3 class="font-bold text-slate-700 text-xl mx-4">Web Design</h3>
          </div>
          <div
            class="relative bg-sky-600 rounded-lg bg-cover bg-center h-auto w-auto"
            style="background-image: url('https://concepto.de/wp-content/uploads/2018/08/Estadistica-inferencial-min-e1533841684477.jpg');"
          >
            <!-- Capa de desenfoque -->
            <div class="absolute inset-0 bg-white/30 backdrop-blur-sm"></div>

            <!-- Contenido -->
            <h3 class="relative font-bold text-slate-600 text-xl mx-4">
              Finance 
							<span class="bg-blue-600 rounded-md font-semibold text-sm text-white p-1 justify-end w-auto ml-64">23</span>
							<p class="text-slate-600 font-normal text-sm w-64">
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, ipsam sunt? Molestiae, quo optio nobis vitae 												repellendus fuga nemo eos minima tempore labore a asperiores qui ducimus animi blanditiis explicabo?
							</p>	
            </h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
